{% extends "index.html" %} {% block title %} Home - Dealerships{% endblock %}
{% block content %} 
<p>this is the home page</p> 
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var page = document.getElementsById('page');
        var home = document.getElementById('home');
        var about = document.getElementById('about');
        var contact = document.getElementById('contact');

        page.classList.remove('about');
        home.classList.add('selected');
        about.classList.remove('selected');
        contact.classList.remove('selected');

    });
</script>
{% endblock %}